:root{
  --background: linear-gradient(#372457f8 20%, #225A7B ,#0D8B96, #00B0AC, #eaeaeaa2);
  --branco: #FFFFFF;
  --cinza: grey;
  --roxo: #372457f8;
  --preto: #000000;
  --vermelho-escuro:  rgb(85, 31, 31);
}


*, body {
  margin: 0;
  padding: 0;
}